body {
    color: black;
    font-family: 'Times New Roman', 'PT Sans', sans-serif;
    margin: 0 auto;
    max-width: 90%;
    height: 70vh;
    position: relative;
}

.elementos td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-collapse: collapse;
    border-radius: 3px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.espaco_branco {
    visibility: collapse;
}

table {
    margin: 0 auto;
    height: max-content;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

h1 {
    margin-top: 50px;
    text-align: center;
}

.hidrogenio:hover {
    background-color: black !important;
    border-color: white !important;
    color: white;
}

.metais_alcalinos {
    background-color: #FFFF00;
    border-color: #FFA500 !important;
}

.metais_alcalinos:hover {
    background-color: #FFA500 !important;
    border-color: #FFFF00 !important;
}

.alcalinos_terrosos {
    background-color: #FFF68F;
    border-color: #DAA520 !important;
}

.alcalinos_terrosos:hover {
    background-color: #DAA520 !important;
    border-color: #FFF68F !important;
}

.metais_transicao {
    background-color: #BFEFFF;
    border-color: #00BFFF !important;
}

.metais_transicao:hover {
    background-color: #00BFFF !important;
    border-color: #BFEFFF !important;
}

.lantanideos {
    background-color: #EEAEEE;
    border-color: #FF83FA !important;
}

.lantanideos:hover {
    background-color: #FF83FA !important;
    border-color: #EEAEEE !important;
}

.actinideos {
    background-color: #E066FF;
    border-color: #EE00EE !important;
}

.actinideos:hover {
    background-color: #EE00EE !important;
    border-color: #E066FF !important;
}

.outros_metais {
    background-color: #54FF9F;
    border-color: #2E8B57 !important;
}

.outros_metais:hover {
    background-color: #2E8B57 !important;
    border-color: #54FF9F !important;
}

.nao_metais {
    background-color: #FFCC66 !important;
    border-color: #FC6600 !important;
}

.nao_metais:hover {
    background-color: #FC6600 !important;
    border-color: #FFCC66 !important;
}

.gases_nobres {
    background-color: white;
    border-color: #0000CD !important;
    color: #0000CD !important;
}

.gases_nobres:hover {
    background-color: #0000CD !important;
    border-color: white !important;
    color: black !important;
}

.espaco_asteriscos {
    border-color: transparent !important;
}

.legenda {
    margin-left: 226px;
    margin-top: 40px;
    font-weight: bold;
}

div .quadradinho {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    float: inline-end;
    margin-bottom: 2px;
}

div .textolegenda {
    float: inline-end;
    margin-left: 28px;
    width: 900%;
}